:root{
    --color1:#5432a5;
    --color2:#2c2a29;
    --color3: #20a9bc;
    --color4: #6229e7;
    --color5:#F4F1BB;

    --color-letras:#EAF2E3;

}
*{
    margin:0;
    padding: 0;
}


.navbar{
    background: var(--color3);
    background: -webkit-linear-gradient(to right, var(--color4), var(--color1));
    background: linear-gradient(to right, var(--color4), var(--color1));;
    height: 80px;
    display: flex;
    align-items: center;
}

.menu-bars{
    margin-left: 2rem;
    font-size: 2rem;
    background: none;
}

.nav-menu{
    background: var(--color3);
    background: -webkit-linear-gradient(to right, var(--color4), var(--color1));
    background: linear-gradient(to right, var(--color4), var(--color1));;
    width: 250px;
    height: 100vh;
    display: flex;
    justify-content: center;
    position:fixed;
    top: 0;
    left: -100%;
    transition: 850ms;
    z-index: 100; 
}

.nav-menu.active{
    left: 0px;;
    transition: 350ms;
}

.nav-text{
    display: flex;
    align-items: center;
    padding: 8px 0px 8px 16px;
    list-style: none;
    height: 60px;
}

.nav-text a{
    text-decoration: none;
    color:var(--color-letras);
    font-size: 18px;
    width: 95%;
    height: 100%;
    margin-top: 2rem;
    display: flex;
    align-items: center;
    padding: 0 16px;
    border-radius: 4px;
}

.nav-text a:hover{
    background-color: var(--color2);
}

.nav-menu-items{
    width:100%;
}

.nav-toggle{
    background: var(--color3);
    background: -webkit-linear-gradient(to right, var(--color4), var(--color1));
    background: linear-gradient(to right, var(--color4), var(--color1));;
    width: 250px;
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
}

span{
    margin-left: 16px;
}

